/*
	MAIN STYLE
*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500&subset=latin,vietnamese);

body, html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	margin: 0;
    padding: 0;
    height: 100%;
}

.body_login {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    position: relative;
}

.body_login:before {
	content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.o_database_list {
	display: inline-block;
    vertical-align: middle;
    /* padding: 50px; */
    /* border: 1px solid #DDD; */
    /* border-radius: 5px; */
    float: none;
    /* background-color: #FFF; */
    opacity: 0.9;
}

#background-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-filter: blur(0px);
	z-index: -1;
}

.o_database_list input,
.o_database_list select {
	background-color: transparent !important;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 1px solid #CCC;
	border-radius: 0px;
	/* color: #de3907; */
	font-size: 12px;
	/* font-weight: 300; */
	transition: border-color 0.7s ease;
	box-shadow: none!important;
}
.o_database_list input{
	text-align: left;
}
.o_database_list select{
	text-align: center;
}

.o_database_list select option {
	background-color: #95A5A6;
}

.o_database_list input:focus,
.o_database_list select:focus {
	border-bottom: 1px solid #e0953e;
	outline: 0 none;
}

a.btn-select {
    background-color: #BBB;
    border-radius: 5px !important;
    color: #EEE;
}

.o_database_list .btn-primary {
	width: 100%;
	background-color: white;
	color: black;
	font-weight: 400;	  
	border-color: white;
	border-radius: 10px;
  	/* border: 1px solid #CCC; */
  	text-transform: uppercase;
  	transition: background-color 0.5s ease;
}

/* .o_database_list .btn-primary:hover,
a.btn-select:hover {
	background-color: #f05a24;
	color: #FFF;
} */

.form-control {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}

.o_database_list .company_logo {
	margin-bottom: 4%;
	max-width: 85%;
	height: auto;
	/* content:url('/odoo_web_login/static/src/img/logo.png'); */
}

.oe_login_buttons {
	margin-top: 5%;
	padding-bottom: 4%;
	padding-left: 13%;
	padding-right: 13%;
}
.school_title{
	background-color: rgb(6, 149, 204);
	border-radius: 12px;
	color: white;
}
.school_title .title1 {
	text-align: left;
	font-weight: 500;
	padding: 4% 0 0 4%;
	margin: 0;
}
.school_title .title2 {
	font-weight: 600;
	font-size: 20px;
}
p {
	padding: 0 0 0 0;
}
.oe_login_form{
	background-color: rgb(6, 149, 204);
	margin: 0px auto !important;
	border-radius: 12px;
	max-width: 100% !important;
}
.field-login {
	position: relative;
	background-color: transparent;
	margin-left: 13%;
	margin-right: 13%;
}
.field-password {
	position: relative;
	background-color: transparent;
	margin-left: 13%;
	margin-right: 13%;
}
.field-login i{
    position:absolute;
    left:0%;
    top:30%;
    /* padding:9px 8px;
    color:#aaa;
    transition:.3s; */
  }
  .field-password i{
    position:absolute;
    left:0%;
    top:30%;
    /* padding:9px 8px;
    color:#aaa;
    transition:.3s; */
  }

.field-password input, .field-login input{
	padding-left: 12%;
	border-radius: 10px;
	color: white;
}
.input_title {
	padding-bottom: 6%;
	padding-top: 11%;
}
.input_title span{
	font-weight: bold;
	color: white;
}
.forgot_password, .forgot_password a{
	color: white;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:white !important;;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:white !important;;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:white !important;;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:white !important;;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:white !important;;
}

::placeholder { /* Most modern browsers support this now. */
   color:white !important;;
}